<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Last Visited Pages</title>
		<link rel="stylesheet" type="text/css" href="ultra://base.css" />
	</head>
	<body>
		<br>
		<center>
		<img src="ultra://trash.png" />
		<a href="ultra://History">Surf History</a>
		|
		<img src="ultra://monkey.gif" />
		<a href="ultra://MediaResources">Media Detection</a>
		<table align=center cellpadding=1 cellspacing=1 width=80% bgcolor=#FFFFCC style='BORDER:#FFB900 1px solid;'>
			<tr bgcolor=#EEEBBB>
				<td>ID</td>
				<td>WebPage</td>
				<td>Time Begin</td>
				<td>Time Finish</td>
			</tr>
			<!-- Last -->
		</table>


		</center>
	</body>

</html>
