<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Ooppss...Error Happens!</title>
		<link rel="stylesheet" type="text/css" href="ultra://base.css" />
	</head>
	<style type="text/css">
		#topborder{position:fixed;top:0;left:0;width:100%;height:10px;background-color:#c0dB5A;}
		body{
			text-align: center;
			background:white url('http://www.sgchinese.com/pic/bg.gif') top right;
		}
	</style>
	<body>
		<div id="topborder"></div>
		<br>
		<br>
		<br>
		<br>
		<table width=50%>
			<tr>
				<td>
					<img src=ultra://error.png>
					<br>
				</td>
				<td>
					<h2>Error happens!</h2>
					<h3>Reasons:</h3>
					<b>1. You are accessing from an unallowed URL!</b>
					<br>
					<b>2. Your network connection timeout!</b>
				</td>
			</tr>
		</table>
	</body>
</html>
